<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:targetSandboxVersion="1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/stardust"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/stardust_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Stardust_Mobil"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ArchiveActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BinActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewByQrActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExportNoteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditNoteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoadingActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.anni.shareimage.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>